!!! 5
html.no-js(lang='en')
	include partials/header
	body
		header
			.uk-container.uk-container-center
				.brand.uk-float-left(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					img(src=locals.images[0].url)
				.menu.uk-float-right(data-uk-scrollspy='{cls:\'uk-animation-fade\', delay: 300}')
					a.theContent
						| Menu 
						img(src=locals.images[1].url)
		main.home
			.welcome-note.uk-container.uk-container-center(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
				#target
				.extra-pad
				a.action-btn(href='')
					| Explore 
					i.uk-icon-long-arrow-right
			footer
				.uk-container.uk-container-center.uk-text-center
					p
						| © Winston Huxley inc. All Rights Reserved.
						br
						| - Site Credits -
						br
						| From Vancouver with 
						i.uk-icon-heart
						br
						| Stardate: -309219.1519533233
		script(type='text/javascript', src=locals.js[3].url)
		script(type='text/javascript', src=locals.js[4].url)
